In [27]:
df.iloc[500:511, 1:3]

                            name                  developer
500           Crazy Machines 1.5              Fakt Software
501           Crazy Machines 1.5              Fakt Software
502           Crazy Machines 1.5              Fakt Software
503                   Helldorado                 Spellbound
504                    Mata Hari              4Head Studios
505  Defense Grid: The Awakening  Hidden Path Entertainment
506         Mayhem Intergalactic            Inventive Dingo
507             And Yet It Moves               Broken Rules
508                    Zero Gear               Brian Cronin
509       Silent Hill Homecoming         Double Helix Games
510            Puzzle Chronicles       Infinite Interactive

In [20]:
df.loc[100:110, ['name', 'developer']]

                        name           developer
100       Bejeweled 2 Deluxe  PopCap Games, Inc.
101           Chuzzle Deluxe  PopCap Games, Inc.
102     Insaniquarium Deluxe  PopCap Games, Inc.
103              Zuma Deluxe  PopCap Games, Inc.
104          AstroPop Deluxe  PopCap Games, Inc.
105         Bejeweled Deluxe  PopCap Games, Inc.
106          Dynomite Deluxe  PopCap Games, Inc.
107          Dynomite Deluxe  PopCap Games, Inc.
108  Feeding Frenzy 2 Deluxe  PopCap Games, Inc.
109      Hammer Heads Deluxe  PopCap Games, Inc.
110      Heavy Weapon Deluxe  PopCap Games, Inc.

In [17]:
df[df['negative'] < 5000].head(10)

,appid,name,developer,publisher,score_rank,positive,negative,userscore,owners,average_forever,average_2weeks,median_forever,median_2weeks,price,initialprice,discount,ccu
1,20,Team Fortress Classic,Valve,Valve,NaN,7602,1136,0,"1,000,000 .. 2,000,000",361,6722,15,6722,499.0,499.0,0.0,66
2,30,Day of Defeat,Valve,Valve,NaN,6414,688,0,"5,000,000 .. 10,000,000",859,3485,23,3604,499.0,499.0,0.0,87
3,40,Deathmatch Classic,Valve,Valve,NaN,2618,545,0,"5,000,000 .. 10,000,000",353,4,10,4,499.0,499.0,0.0,7
4,50,Half-Life: Opposing Force,Gearbox Software,Valve,NaN,24363,1198,0,"2,000,000 .. 5,000,000",528,78,162,78,499.0,499.0,0.0,74
5,60,Ricochet,Valve,Valve,NaN,4989,1039,0,"200,000 .. 500,000",233,0,4,0,124.0,499.0,75.0,4
7,80,Counter-Strike: Condition Zero,Valve,Valve,NaN,24271,2287,0,"5,000,000 .. 10,000,000",1070,13,32,13,999.0,999.0,0.0,276
8,100,Counter-Strike: Condition Zero,Valve,Valve,NaN,13442,1535,0,"10,000,000 .. 20,000,000",181,16,28,16,999.0,999.0,0.0,83
9,130,Half-Life: Blue Shift,Gearbox Software,Valve,NaN,17384,1410,0,"1,000,000 .. 2,000,000",337,1,97,1,499.0,499.0,0.0,35
12,280,Half-Life: Source,Valve,Valve,NaN,11068,4988,0,"2,000,000 .. 5,000,000",365,300,89,300,199.0,999.0,80.0,27
13,300,Day of Defeat: Source,Valve,Valve,NaN,20798,1891,0,"2,000,000 .. 5,000,000",1906,1660,127,2411,199.0,999.0,80.0,238

In [16]:
df[df['positive'] > 43800].head(10)

,appid,name,developer,publisher,score_rank,positive,negative,userscore,owners,average_forever,average_2weeks,median_forever,median_2weeks,price,initialprice,discount,ccu
0,10,Counter-Strike,Valve,Valve,NaN,243818,6427,0,"10,000,000 .. 20,000,000",12222,563,204,88,199.0,999.0,80.0,7323
6,70,Half-Life,Valve,Valve,NaN,143086,5135,0,"10,000,000 .. 20,000,000",635,481,136,39,999.0,999.0,0.0,634
10,220,Half-Life 2,Valve,Valve,NaN,239721,5906,0,"10,000,000 .. 20,000,000",763,157,326,48,199.0,999.0,80.0,1555
11,240,Counter-Strike: Source,Valve,Valve,NaN,175426,6808,0,"10,000,000 .. 20,000,000",8021,304,385,256,199.0,999.0,80.0,6187
18,400,Portal,Valve,Valve,NaN,175024,2717,0,"10,000,000 .. 20,000,000",365,44,172,41,199.0,999.0,80.0,638
20,440,Team Fortress 2,Valve,Valve,NaN,1044264,117208,0,"50,000,000 .. 100,000,000",23736,650,4509,141,0.0,0.0,0.0,43819
21,500,Left 4 Dead,Valve,Valve,NaN,59622,2272,0,"5,000,000 .. 10,000,000",1199,152,136,178,199.0,999.0,80.0,774
22,550,Left 4 Dead 2,Valve,Valve,NaN,940221,23762,0,"50,000,000 .. 100,000,000",2480,172,519,85,999.0,999.0,0.0,25122
23,620,Portal 2,Valve,Valve,NaN,427835,5675,0,"5,000,000 .. 10,000,000",974,156,500,155,199.0,999.0,80.0,1959
25,730,Counter-Strike: Global Offensive,Valve,Valve,NaN,7642084,1173003,0,"100,000,000 .. 200,000,000",32775,875,6436,317,0.0,0.0,0.0,1013936

In [14]:
df[['name', 'developer', 'publisher']].head(20)

                              name         developer publisher
0                   Counter-Strike             Valve     Valve
1            Team Fortress Classic             Valve     Valve
2                    Day of Defeat             Valve     Valve
3               Deathmatch Classic             Valve     Valve
4        Half-Life: Opposing Force  Gearbox Software     Valve
5                         Ricochet             Valve     Valve
6                        Half-Life             Valve     Valve
7   Counter-Strike: Condition Zero             Valve     Valve
8   Counter-Strike: Condition Zero             Valve     Valve
9            Half-Life: Blue Shift  Gearbox Software     Valve
10                     Half-Life 2             Valve     Valve
11          Counter-Strike: Source             Valve     Valve
12               Half-Life: Source             Valve     Valve
13           Day of Defeat: Source             Valve     Valve
14         Half-Life 2: Deathmatch             Valve     Valve
15         Half-Life 2: Lost Coast             Valve     Valve
16    Half-Life Deathmatch: Source             Valve     Valve
17        Half-Life 2: Episode One             Valve     Valve
18                          Portal             Valve     Valve
19        Half-Life 2: Episode Two             Valve     Valve

In [1]:
import pandas as pd
import numpy as np

df = pd.read_csv('archive/all_data.csv', index_col=0)

print(df.head())

   appid                       name         developer publisher  score_rank  \
0     10             Counter-Strike             Valve     Valve         NaN
1     20      Team Fortress Classic             Valve     Valve         NaN
2     30              Day of Defeat             Valve     Valve         NaN
3     40         Deathmatch Classic             Valve     Valve         NaN
4     50  Half-Life: Opposing Force  Gearbox Software     Valve         NaN

   positive  negative  userscore                    owners  average_forever  \
0    243818      6427          0  10,000,000 .. 20,000,000            12222
1      7602      1136          0    1,000,000 .. 2,000,000              361
2      6414       688          0   5,000,000 .. 10,000,000              859
3      2618       545          0   5,000,000 .. 10,000,000              353
4     24363      1198          0    2,000,000 .. 5,000,000              528

   average_2weeks  median_forever  median_2weeks  price  initialprice  \
0             563             204             88  199.0         999.0
1            6722              15           6722  499.0         499.0
2            3485              23           3604  499.0         499.0
3               4              10              4  499.0         499.0
4              78             162             78  499.0         499.0

   discount   ccu
0      80.0  7323
1       0.0    66
2       0.0    87
3       0.0     7
4       0.0    74